*{
    margin-left: 10px;
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: border-box;
    box-sizing: inherit;
  }
}
h3{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: blueviolet;
}
body{
    background-image: url(images/cat3.jpeg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}