/* *{
    padding: 0px;
    margin: 0px;
} */
h1{
    text-align: center;
    font-weight: 600;
    font-style: italic;
    color: blueviolet;
}
body{
    background-image: url(images/cat3.jpeg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/* .cat2{
    width: 500px;
    float: right;
} */
.ul{
    text-align: center;
}
    