/* *{
    padding: 0px;
    margin: 0px;
} */
h1{
    text-align: center;
    font-weight: 600;
    font-style: italic;
    color: blueviolet;
}
body{
    background-image: url(images/cat2.jpeg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
/* .cat2{
    width: 100%;
    height: 50%;
} */